{%  extends "base.html" %}

{% block content %}

    <p>This method calls https://kasm_server/api/public/get_kasms</p>
    <p>It can be called with a post request containing a json object with api_key, api_key_secret</p>

    {% if message.kasms %}
        {% for kasm in message.kasms %}
            {% if kasm.kasm_id and kasm.user_id%}
                <br>
                <a href={{ "/get_kasm_status?kasm_id=%s&user_id=%s" % (kasm.kasm_id, kasm.user_id) }}>Get Kasm Status</a>
                <br>
                <br>
            {% endif %}
            <table>
               {% for key, value in kasm.items() %}
                   <tr>
                       <td>{{key}}</td>
                       <td>{{value}}</td>
                   </tr>
               {% endfor %}
            </table>
            <br />
        {% endfor %}
    {% endif %}
{% endblock %}