{%  extends "base.html" %}

{% block content %}
    <br>
    <p>This method calls https://kasm_server/api/public/request_kasm</p>
    <p>It can be called with a post request containing a json object with api_key, api_key_secret.
    Optionally a user_id or image_id can be sent to specify the user or image to be used. If there is none the
    default image will be used and an anonymous user will be created</p>
    {% if message.error_message %}
        <h1>Error</h1>
        <p>{{ message.error_message }}</p>
    {% endif %}
    <br>
    <br>
    {% if message.kasm_id %}
        <a href={{ "/get_kasm_status?kasm_id=%s&user_id=%s" % (message.kasm_id, message.user_id) }}>Get Kasm Status</a>
    {% endif %}
    <br>
    <br>
    {% if message.encoded_url %}
        <a href={{ "/session?kasm_url=%s" % message.encoded_url }}>Connect</a>
    {% endif %}
    <br>
    <br>
    <table>
        <tbody>
        <tr>
            {% if message.kasm_url and host_url%}
                <td>Kasm URL</td><td><a href={{ host_url }}{{ message.kasm_url }}>{{ host_url }}{{ message.kasm_url }}</a></td>
            {% endif %}
        </tr>
        {% if message.join_url and host_url %}
        <tr>
            <td>share url</td>
            <td><a href={{ host_url }}{{ message.join_url }}>{{ host_url }}{{ message.join_url }}</a></td>
            {% endif %}
        </tr>
        <tr>
            {% if message.status %}
            <td>Status</td><td>{{ message.status }}</td>
            {% endif %}
        </tr>
        <tr>
            {% if message.session_token %}
            <td>Session Token</td><td>{{ message.session_token }}</td>
            {% endif %}
        </tr>
        <tr>
            {% if message.user_id %}
            <td>User ID</td><td>{{ message.user_id }}</td>
            {% endif %}
        </tr>
        <tr>
            {% if message.username %}
            <td>User Name</td><td>{{ message.username }}</td>
            {% endif %}
        </tr>
        <tr>
            {% if message.kasm_id %}
            <td>Kasm ID</td><td>{{ message.kasm_id }}</td>
            {% endif %}
        </tr>
        </tbody>
    </table>

    <p>
        {% if error %}
        {{ error }}
        {% endif %}
    </p>
{% endblock %}