{%  extends "base.html" %}

{% block content %}
        {% if message %}
            <p>
                Iframe containing the url {{ message }}
            </p>
            <iframe allow="clipboard-write; clipboard-read; autoplay" style="width:850px; height:700px;" src={{ message }}></iframe>
        {% endif %}
{% endblock %}